@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f4f4f4; */
  color: #333;
  background-color: #101114; /* Dark mode background color */
  color: #fff;
}
* {
  scroll-behavior: smooth;
}
.title {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}
nav {
  background-color: white; /* Dark mode background color */
  opacity: 0.8;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000;
  height: 11vh;
  width: 100vw;
  justify-content: space-around;
  box-shadow: 0px 1px 2px #950403, 0px 2px 4px #950403, 0px 4px 8px #950403,
    0px 8px 16px #950403;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 700;
}
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  color: #950403;
}

@media (max-width: 768px) {
  nav {
    text-align: left;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#logo {
  /* margin-right: auto;
  margin-left: 50px; */
  /* Push the logo to the left */
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 55px; /* Adjust the height as needed */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

nav li {
  margin-right: 20px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #444; */
  background-color: #101114;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 70px;
}

#home {
  height: 90vh;
}

.join-journey {
  margin-top: 30px;
}

.join-journey h3 {
  font-size: 24px;
  color: #fff;
}

.join-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
}
/* =================ABOUT============================= */
#about {
  background-color: #101114;
  opacity: 0.9;
  border-radius: 2rem;
  width: 60%;
  margin: 50px auto;
}
#about {
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgb(149, 4, 3, 0.5), 0px 2px 4px rgb(149, 4, 3, 0.5),
    0px 4px 8px rgb(149, 4, 3, 0.5), 0px 8px 16px rgb(149, 4, 3, 0.5);
}
#about:hover {
  box-shadow: 0px 2px 4px rgb(149, 4, 3, 0.7), 0px 4px 8px rgb(149, 4, 3, 0.7),
    0px 8px 16px rgb(149, 4, 3, 0.7), 0px 12px 24px rgb(149, 4, 3, 0.7);
  transform: translateY(-10px);
  transition: 0.2s;
}
#about p {
  color: lightgray;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
#about .container {
  padding: 0 70px;
}
#about .follow-us {
  margin-top: 0;
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  position: relative;
  display: inline-block;
}

.social-links img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover img {
  transform: translateY(-5px); /* Added this line for the hover effect */
}

/*==================FACULTY==============================  */
#leadership {
  background-color: #101114;
  opacity: 0.9;
  border-radius: 2rem;
  width: 60%;
  margin: 50px auto;
}
#leadership {
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgb(149, 4, 3, 0.5), 0px 2px 4px rgb(149, 4, 3, 0.5),
    0px 4px 8px rgb(149, 4, 3, 0.5), 0px 8px 16px rgb(149, 4, 3, 0.5);
}
#leadership:hover {
  box-shadow: 0px 2px 4px rgb(149, 4, 3, 0.7), 0px 4px 8px rgb(149, 4, 3, 0.7),
    0px 8px 16px rgb(149, 4, 3, 0.7), 0px 12px 24px rgb(149, 4, 3, 0.7);
  transform: translateY(-10px);
  transition: 0.2s;
}

.faculty-coordinator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.faculty-coordinator img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.motivational-words {
  text-align: center;
}

.motivational-words h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.motivational-words p {
  font-size: 16px;
  color: #ddd;
}

/* ==========TEAM==================== */

#team {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
}

#team h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}

#team p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 30px;
}

#team {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
}

#team h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}

#team p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 30px;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collage img {
  width: 325px;
  height: 375px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}

#events {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#footer {
  height: 50px;
}

#contact {
  background: url("./assets/backgrounds/bg.svg") center/cover no-repeat;
  text-align: center;
  padding: 50px 0;
  height: 100vh;
}
/* BECOME A MEMBER ANIMATION */
#home a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}
#home button {
    position: relative;
    background: white;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

#home button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
}

#home button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background:#7f0706;
}

#home button span {
    position: relative;
    z-index: 1;
}

#home button i {
    position: absolute;
    inset: 0;
    display: block;
}

#home button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

#home button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

#home button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

#home button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}
/* BECOME A MEMBER ANIMATION END*/
